# ==============================================
# Visual Studio 编译输出目录
# ==============================================
/[Bb]in/
/[Oo]bj/
/x64/
/x86/
/[Rr]elease/
/[Dd]ebug/
/out/
/build/
/cmake-build-*/

# ==============================================
# Visual Studio 用户/临时文件
# ==============================================
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.backup
*.sln.docstates
*.suo
*.user
*.ide/
/.vs/
/.vscode/
/.vsconfig
*.VC.db
*.VC.VC.opendb

# ==============================================
# 调试、日志、临时文件
# ==============================================
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.ilk
*.pdb
*.exp
*.iobj
*.ipdb
*.sdf
*.cache
*.tmp
*.bak

# ==============================================
# NuGet 包目录（C++ 必须忽略）
# ==============================================
/packages/
*.nupkg
nuget.config.user

# ==============================================
# ONNX Runtime / DirectML 运行库
# ==============================================
# 自动复制的 dll 不需要提交

# ==============================================
# 系统垃圾文件
# ==============================================
Thumbs.db
.DS_Store

*.onnx
*.dll
*.engine
*.zip